/* CONTACT PAGE HERO IMAGE */
.hero-small {
    position: relative;
    width: 100%;
}

.hero-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.over-hero {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 48px;
    text-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}


/*  CONTACT INFO */

.contact-info-inner {
    max-width: 1100px;
    margin: auto;
}

.info-block h2 {
    font-size: 36px;
    color: #05364F;
    font-weight: 600;
}

.info-block p {
    max-width: 600px;
    margin: 15px 0 30px;
    font-size: 18px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px 0;
    font-size: 18px;
}

.info-item i {
    color: #D4A017;
    font-size: 24px;
}


/* MAP PLACEHOLDER */
.map-section {
    margin-top: 20px;
    padding: 100px 20px;
    text-align: center;
}

.map-placeholder {
    background: #D4A017;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 22px;
}
